@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@300&display=swap');

body{
  font-family: 'Noto Sans JP', sans-serif;
}
/*customizing the jumbotron*/
.jumbotron{
  background-image: url(../amani/images/h_img.jpg);
  background-size: cover;
  height: 40em;
  padding-top: 10em;
  margin-bottom: 0%;
}
.heading{
    text-align: center;
    color: whitesmoke;
    font-size: medium;
  }
  .card{
    margin-top: 0%;
    border-radius: 0%;
  }
  .aboutus{
    text-align: center;
    line-height: 2.5em;
  }
  .card2{
    margin-top: 0%;
    border-radius: 0%;
    background-image: url(../amani/images/s_image.jpg);
    background-size: cover;
    color: whitesmoke;
  }
  .services{
    text-align: center;
  }
  .text{
    margin-top: 5em;
    line-height: 2.5em;
  }

.contact-section{
background-image: url("amani/images/c_image.jpg") no repeat center;
background-size: cover;
padding: 40px 0;
}
.contact-section h1 {
    text-align: center;
    color:darkgrey;
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}
.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    background: #111;
    padding: 20px 40px;
    transition: 0.5s;
    color:#ddd;
}















@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
    
}